.ServicesComponent {
  width: 100%;
  z-index: 1;

  h2 {
    font-size: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .ServicesComponent__List {
    margin: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: 427px) {
  .ServicesComponent {
    h2 {
      text-align: center;
      font-size: 2em;
    }
  }
}
