.GoodsAccordion__Main {
  width: 90%;
  margin: 10px auto;

  .GoodsAccordion {
    cursor: pointer;

    .GoodsAccordion__Title {
      // width: 350px;
      min-height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .GoodsAccordion__Answer {
      font-size: 20px;
      border-bottom: 2px solid #000;
      max-height: 0;
      overflow: hidden;
      transition: max-height 1s ease;
    }

    .GoodsAnswer__Opened {
      max-height: 400px; /* Максимальная высота, при которой содержимое будет видимым */
      transition: max-height 0.5s ease;
    }

    .GoodsAnswer__Closed {
      max-height: 0;
      transition: max-height 0.5s ease;
    }

    .GoodsAccordion__Title_Plus {
      font-size: 50px;
      font-weight: bold;
    }

    .GoodsPlus__Opened {
      transform: rotate(45deg);
      transition: all 0.3s ease;
    }

    .GoodsPlus__Closed {
      transform: rotate(90deg);
      transition: all 0.3s ease;
    }

    .GoodsAccordion__List {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .GoodsAccordion__List_Left {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          border: 1px solid #000;
          margin: 0px 10px 10px 0;
          width: 60px;
        }
      }
    }

    .SectionDescription {
      font-size: 30px;
      line-height: 30px;
      font-weight: bold;
    }
  }
}
