.ServicesAccordion {
  width: 90%;
  margin: 0 auto;

  .ServicesAccordion__Container {
    cursor: pointer;

    .ServicesAccordion__Title {
      min-height: 40px;
      color: #dfdfdf;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .ServicesAccordion__Title_Name {
        font-size: 30px;
        font-weight: bold;

        @media (max-width: 427px) {
          font-size: 20px;
        }
      }

      .ServicesAccordion__Title_Plus {
        font-size: 50px;
        font-weight: bold;

        @media (max-width: 427px) {
          font-size: 30px;
        }
      }

      .ServicesAccordionPlus__Opened {
        transform: rotate(45deg);
        transition: all 0.3s ease;
      }

      .ServicesAccordionPlus__Closed {
        transform: rotate(
          0deg
        ); // Исправил на 0deg, чтобы плюсик вернулся в начальное состояние
        transition: all 0.3s ease;
      }
    }

    .ServicesAccordionDescription {
      font-size: 20px;
      border-bottom: 2px solid #fff;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease; // Уменьшил время анимации для лучшего визуального эффекта

      p {
        font-weight: 600;
        margin: 10px;

        @media (max-width: 427px) {
          font-size: 15px;
        }
      }
    }

    .ServicesAccordionDescription__Opened {
      max-height: 400px; // Максимальная высота, при которой содержимое будет видимым
      transition: max-height 0.5s ease;
    }

    .ServicesAccordionDescription__Closed {
      max-height: 0;
      transition: max-height 0.5s ease;
    }
  }
}
