.GoodsComponent {
  width: 100%;
  z-index: 1;

  h2 {
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .GoodsComponent__List {
    margin: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: 427px) {
  .GoodsComponent {
    h2 {
      text-align: center;
      font-size: 1.5em;
    }
  }
}
