.CatalogComponent {
  .CatalogComponent__Title {
    text-align: center;
    margin: 20px 0;
    font-size: 40px;

    @media (max-width: 427px) {
      h2 {
        text-align: center;
        font-size: 2em;
      }
    }
  }

  .CatalogComponent__Search {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    input {
      height: 40px;
      width: 600px;
      border: 2px solid #fff;
      background-color: transparent;
      color: #fff;
      border-radius: 5px;
      text-align: center;
      padding: 0 40px;
      font-size: 16px;

      &::placeholder {
        color: #cccccc;
        font-size: 16px;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
      }

      @media (max-width: 427px) {
        width: 300px;
      }
    }
  }

  .slick-slider {
    // position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }

  .slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-dots {
    // position: absolute;
    // bottom: -25px; /* Adjust position as needed */
    // width: 100%;
    display: flex !important;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0 5px;
    }

    button {
      background: #808088;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      padding: 0;
      border: none;
    }

    .slick-active button {
      background: #fff;
    }
  }

  // .slick-prev,
  // .slick-next {
  //   font-size: 0;
  //   line-height: 0;
  //   position: absolute;
  //   top: 50%;
  //   display: block;
  //   width: 20px;
  //   height: 20px;
  //   padding: 0;
  //   -webkit-transform: translate(0, -50%);
  //   -ms-transform: translate(0, -50%);
  //   transform: translate(0, -50%);
  //   cursor: pointer;
  //   color: transparent;
  //   border: none;
  //   outline: none;
  //   background: transparent;
  // }

  // .slick-prev:hover,
  // .slick-next:hover,
  // .slick-prev:focus,
  // .slick-next:focus {
  //   color: transparent;
  //   outline: none;
  //   background: transparent;
  // }

  // .slick-prev {
  //   left: -25px;
  // }

  // .slick-next {
  //   right: -25px;
  // }
}
