.CatalogComponent {
  margin-top: 100px;
  color: #fff;
  overflow: hidden;

  h2 {
    padding-top: 0px;
  }

  .CatalogComponent__Title {
    // padding-top: 100px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;

    @media (max-width: 427px) {
      text-align: center;
      font-size: 2em;
    }
  }

  .CatalogComponent__Search {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    input {
      height: 40px;
      width: 600px;
      border: 2px solid #fff;
      background-color: transparent;
      color: #fff;
      border-radius: 5px;
      text-align: center;
      padding: 0 40px;
      font-size: 16px;

      &::placeholder {
        color: #cccccc;
        font-size: 16px;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
      }

      @media (max-width: 427px) {
        width: 300px;
      }
    }
  }

  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }

  .slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-dots {
    position: absolute;
    bottom: -25px;
    width: 100%;
    display: flex !important;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0 5px;
    }

    button {
      background: #808088;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      padding: 0;
      border: none;
    }

    .slick-active button {
      background: #fff;
    }
  }
}
